body {
  font-size: 17px;
}

input {
  border-radius: 4px;
}

.app-nav a {
  font-size: 17px;
}

.app-nav > ul > li > a.active {
  color: inherit;
  border-bottom: none;
}

.sidebar > h1 {
  font-weight: 700;
}

.sidebar ul, .sidebar ul li {
  font-weight: 600;
}

.sidebar ul li a {
  font-size: 15px;
}

.sidebar-toggle {
  margin-left: 0px;
  margin-right: 0px;
  bottom: -6px;
}

.sidebar-toggle span {
  width: 24px;
  margin-bottom: 6px;
}

.sidebar-toggle:hover .sidebar-toggle-button {
  opacity: 1;
}

.markdown-section pre {
  border-radius: 4px;
}

.markdown-section code {
  color: #ff9500;
  font-weight: 600;
}

.markdown-section blockquote {
  background: #f8f8f8;
  padding-top: 2px;
  padding-bottom: 2px;
}

.markdown-section blockquote p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 768px) {
  .sidebar-toggle {
    bottom: -10px;
  }
  .sidebar-toggle span {
    width: 32px;
    margin-bottom: 8px;
    height: 3px;
  }
  .markdown-section {
    max-width: 95%;
  }
  .markdown-section pre {
    padding: 0 0.8rem;
  }
  .markdown-section pre > code {
    padding: 1.5em 5px;
  }
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #898ea4;
}

.token.punctuation {
  color: #5e6687;
}

.token.namespace {
  opacity: .7;
}

.token.operator,
.token.boolean,
.token.number {
  color: #c76b29;
}

.token.property {
  color: #c08b30;
}

.token.tag {
  color: #3d8fd1;
}

.token.string {
  color: #22a2c9;
}

.token.selector {
  color: #6679cc;
}

.token.attr-name {
  color: #c76b29;
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #22a2c9;
}

.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit {
  color: #ac9739;
}

.token.statement,
.token.regex,
.token.atrule {
  color: #22a2c9;
}

.token.placeholder,
.token.variable {
  color: #3d8fd1;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.important {
  color: #c94922;
}

.token.entity {
  cursor: help;
}

.markdown-section pre {
  background-color: #f5f7ff;
}

.markdown-section pre > code {
  background-color: #f5f7ff;
  color: #5e6687;
}